body{
    background-color: white;
    font-family: 'Koulen', cursive;
    padding: 12px;
}

#form-div{
    background-color: #A64B2A;
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 12px;
    color: white;
   

}

#dataDisplay{
    /* background-color: aqua; */
    color: #A64B2A;
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    padding: 10px;
    margin-left: 50px;
    flex-direction: column;
}

#body-container{
    background-color: bisque;
    display: flex;
    height: 70vh;
    border-radius: 15px;
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}
h1{
    display: flex;
    justify-content: center;
    color: #8E3200;
}

button{
    align-self: flex-end;
    background-color: white;
    border: #827397;
    border-radius: 2px;
    font-size: 15px;
}
select{
    /* background-color: red; */
    border-radius: 20px;
    
}

img{
    max-width: 350px;
}